
.backgroundColor1{
    -fx-background-color: linear-gradient(to right,#4a148c, #7b1fa2);
    -fx-background-radius: 10 10 10 10;
    -fx-border-radius: 10 10 10 10;
}

.backgroundColor2{
    -fx-background-color: #2c3e50;
}